<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Blogging Service</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="./js/app.js"></script>
</head>
<body>
  <header>
    <nav>
      <h1>Blogging Service</h1>
    </nav>
  </header>
  <div id="timeline">
    <div class="timeline-blog-box">
      <div class="home-blog-box">
        <form id="new-blog-form" action="/blogs" method="post">
          <img id="thumbnail" src="http://pix.iemoji.com/images/emoji/apple/ios-9/256/white-woman.png" alt="User image goes here.">
          <label for="fullName">Full Name</label>
          <input type="text" class="form-control" id="fullName" name="blog[fullName]" required>

          <label for="screenName">Screen Name</label>
          <input type="text" class="form-control" id="screenName" name="blog[screenName]" required>

          <textarea id="new-blog-input" name="blog[blogText]" required></textarea>
          <div class="actions">
            <input type="submit" value="Post">
            <span class="blog-counter">150</span>
          </div>
        </form>
      </div>
    </div>
    <div class="stream-container">
      <div id="new-blogs-bar">
        View <span>1</span> new Tweets
      </div>
      <div class="stream">
        <ol class="stream-items">
          <% blogs.forEach(blog => { %>
            <li class="stream-item">
            <div class="blog">
            <img src="http://pix.iemoji.com/images/emoji/apple/ios-9/256/white-woman.png" alt="User image goes here.">
            <div class="content">
            <strong class="fullname"> <%= blog.fullName %> </strong>
            <span>&rlm;</span> <span>@</span><b><%= blog.screenName %></b>
            &nbsp;&middot;&nbsp;
            <small class="time"> <%= blog.createdAt %></small>
            <p> <%= blog.blogText %>
            <form action="/blogs/<%= blog._id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <button class="deleteButton"> Delete </button>
            </form></p>
            </div>
            </div>
            </li>
            <% }) %>
          </ol>
        </div>
      </div>
    </div>
  </body>
  </html>
